<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ali Ahmadi</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <!-- <div class="container text-center">
            <div class="row">
                <div class="col"><a href="#" class="link-info">Log in</a></div>
                <div class="col"><a href="#" class="link-info">Blog</a></div>
                <div class="col">
                    <a href="#" class="link-info">Concact us</a>
                </div>
            </div>
        </div> -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand text-danger" href="#">Blog</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="#"
                                >Log in</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sign up</a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">Action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Another action</a
                                    >
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Something else here</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li> -->
                    </ul>
                    <form class="d-flex" role="search" method="get" action="#">
                        <input
                            class="form-control me-2"
                            type="search"
                            placeholder="Search"
                            aria-label="Search"
                        />
                        <button class="btn btn-outline-success" type="submit">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <br /><br />

        <!-- <div class="alert alert-success" role="alert">
            A simple success alert with
            <a href="#" class="alert-link">an example link</a>. Give it a click
            if you like.
        </div> -->

        <!-- <div class="">
            <div class="row g-0 bg-body-secondary position-relative">
                <div class="col-md-6 mb-md-0 p-md-4">
                    <img src="..." class="w-100" alt="..." />
                </div>
                <div class="col-md-6 p-4 ps-md-0">
                    <h5 class="mt-0">Columns with stretched link</h5>
                    <p>
                        Another instance of placeholder content for this other
                        custom component. It is intended to mimic what some
                        real-world content would look like, and we're using it
                        here to give the component a bit of body and size.
                    </p>
                    <a href="#" class="stretched-link">Go somewhere</a>
                </div>
            </div>
            <div class="row g-0 bg-body-secondary position-relative">
                <div class="col-md-6 mb-md-0 p-md-4">
                    <img src="" class="w-100" alt="..." />
                </div>
                <div class="col-md-6 p-4 ps-md-0">
                    <h5 class="mt-0">Columns with stretched link</h5>
                    <p>
                        Another instance of placeholder content for this other
                        custom component. It is intended to mimic what some
                        real-world content would look like, and we're using it
                        here to give the component a bit of body and size.
                    </p>
                    <a href="#" class="stretched-link">Go somewhere</a>
                </div>
            </div>
        </div> -->

        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-info">Article title</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Soluta, quis, eveniet nobis id aut doloremque
                        consectetur culpa fugiat eos inventore nihil nisi
                        distinctio eligendi iste ratione laboriosam veniam
                        neque? Adipisci unde suscipit deserunt nesciunt
                        accusantium doloribus modi fugit? Quis sunt consectetur
                        officiis, perferendis quas esse reiciendis delectus. Est
                        quae velit soluta dolorem. Necessitatibus ea nulla
                        cumque non facilis eius sed, commodi repellendus quasi
                        fugit unde beatae a perferendis aliquam repellat ad quis
                        adipisci voluptates rerum accusamus hic quia laborum
                        voluptas. Dolores assumenda numquam laborum incidunt
                        dicta, voluptas blanditiis temporibus ipsa. Ut,
                        incidunt? Amet minus, placeat quidem enim sint ab
                        itaque...
                    </p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
            <br /><br />
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-info">Article title</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Soluta, quis, eveniet nobis id aut doloremque
                        consectetur culpa fugiat eos inventore nihil nisi
                        distinctio eligendi iste ratione laboriosam veniam
                        neque? Adipisci unde suscipit deserunt nesciunt
                        accusantium doloribus modi fugit? Quis sunt consectetur
                        officiis, perferendis quas esse reiciendis delectus. Est
                        quae velit soluta dolorem. Necessitatibus ea nulla
                        cumque non facilis eius sed, commodi repellendus quasi
                        fugit unde beatae a perferendis aliquam repellat ad quis
                        adipisci voluptates rerum accusamus hic quia laborum
                        voluptas. Dolores assumenda numquam laborum incidunt
                        dicta, voluptas blanditiis temporibus ipsa. Ut,
                        incidunt? Amet minus, placeat quidem enim sint ab
                        itaque...
                    </p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
            <br /><br />
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-info">Article title</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Soluta, quis, eveniet nobis id aut doloremque
                        consectetur culpa fugiat eos inventore nihil nisi
                        distinctio eligendi iste ratione laboriosam veniam
                        neque? Adipisci unde suscipit deserunt nesciunt
                        accusantium doloribus modi fugit? Quis sunt consectetur
                        officiis, perferendis quas esse reiciendis delectus. Est
                        quae velit soluta dolorem. Necessitatibus ea nulla
                        cumque non facilis eius sed, commodi repellendus quasi
                        fugit unde beatae a perferendis aliquam repellat ad quis
                        adipisci voluptates rerum accusamus hic quia laborum
                        voluptas. Dolores assumenda numquam laborum incidunt
                        dicta, voluptas blanditiis temporibus ipsa. Ut,
                        incidunt? Amet minus, placeat quidem enim sint ab
                        itaque...
                    </p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
            <br /><br />
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-info">Article title</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Soluta, quis, eveniet nobis id aut doloremque
                        consectetur culpa fugiat eos inventore nihil nisi
                        distinctio eligendi iste ratione laboriosam veniam
                        neque? Adipisci unde suscipit deserunt nesciunt
                        accusantium doloribus modi fugit? Quis sunt consectetur
                        officiis, perferendis quas esse reiciendis delectus. Est
                        quae velit soluta dolorem. Necessitatibus ea nulla
                        cumque non facilis eius sed, commodi repellendus quasi
                        fugit unde beatae a perferendis aliquam repellat ad quis
                        adipisci voluptates rerum accusamus hic quia laborum
                        voluptas. Dolores assumenda numquam laborum incidunt
                        dicta, voluptas blanditiis temporibus ipsa. Ut,
                        incidunt? Amet minus, placeat quidem enim sint ab
                        itaque...
                    </p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
            <br /><br />
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-info">Article title</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Soluta, quis, eveniet nobis id aut doloremque
                        consectetur culpa fugiat eos inventore nihil nisi
                        distinctio eligendi iste ratione laboriosam veniam
                        neque? Adipisci unde suscipit deserunt nesciunt
                        accusantium doloribus modi fugit? Quis sunt consectetur
                        officiis, perferendis quas esse reiciendis delectus. Est
                        quae velit soluta dolorem. Necessitatibus ea nulla
                        cumque non facilis eius sed, commodi repellendus quasi
                        fugit unde beatae a perferendis aliquam repellat ad quis
                        adipisci voluptates rerum accusamus hic quia laborum
                        voluptas. Dolores assumenda numquam laborum incidunt
                        dicta, voluptas blanditiis temporibus ipsa. Ut,
                        incidunt? Amet minus, placeat quidem enim sint ab
                        itaque...
                    </p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
            <br /><br />
        </div>

        <!-- <div class="card" aria-hidden="true">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                </h5>
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                </p>
                <a
                    href="#"
                    tabindex="-1"
                    class="btn btn-primary disabled placeholder col-6"
                ></a>
            </div>
        </div> -->

        <br /><br />
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
